# macOS
.DS_Store

# frontend
frontend/node_modules/
frontend/.next/

# local database files
infra/docker/data/
infra/docker/data_mysql_backup/

# postgres volume data if created locally
infra/docker/postgres_data/

# Go build artifacts
backend/server
backend/bin/